html, body, div, section, nav, ul, li, a, button, input, textarea {
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #f2f2f2;
    --primary-text-color: #333;
    --secondary-text-color: #666;
    --navbar-bg-color: rgba(40, 75, 115, 0.6);
    --navbar-text-color: #FFF;
    --hover-bg-color: rgba(41, 128, 200, 0.3);
    --focus-outline-color: #f1c40f;
    --button-bg-color: #e74c3c;
    --button-hover-bg-color: #c0392b;
    --accent-color: #8e44ad;
    --accent-color-light: #b2c2e6;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    font-family: 'Roboto', Arial, sans-serif;    
    color: var(--primary-text-color);
    line-height: 1.6;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 5em;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--navbar-bg-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);  /* Safari support */
    margin-top: -0.5em;
    padding: 1em;
    padding-top: 1.5em;
    text-align: center;
    transition: height 0.5s ease-out, width 0.3s ease-out, left 0.3s ease-out, top 0.3s ease-out, right 0.3s ease-out, font-size 0.3s ease-out;
    color: var(--navbar-text-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1em 2em rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    outline: 1px solid #FFF;
    outline-offset: -5px;
}

.navbar.smaller {
    left: 25%;
    width: 50%;
    height: 3.5em;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);  /* Safari support */
}

.navbar.smaller .nav-links {
    font-size: 14px;
}

.navbar.smaller .nav-links a {
    padding: 0.325rem 0.625rem;
}

.navbar.smaller .logo {
    font-size: 18px !important;
    padding: 0.2rem 0.625rem !important;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    padding: 0.3rem 0.8rem !important;
}



.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    position: relative;
    display: inline-block;
    padding: 0.625rem;
    color: var(--navbar-text-color);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}


.nav-links a:hover {
    background-color: var(--hover-bg-color);
    color: var(--focus-outline-color);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.nav-links a:focus, .nav-links a:focus-visible {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: 2px;
}

.navbar .nav-links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--focus-outline-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.navbar .nav-links li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100vmin;
    background-size: cover;
    background-position: center;
    background-color: #111;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1 {
    font-size: 6em;
    color: #fff;
    text-shadow: 0.06em 0.06em 0.06em rgba(0, 0, 0, 0.7);
    letter-spacing: 0.03em;
    margin: 0;
}

.hero-text p {
    font-size: 1.5em;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.7);
    margin: 0;
}

.hero-text h1, .hero-text p {
    animation: fadeIn 1s ease-in-out;
}

.avatar {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.7);
    border: 1px solid #111;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 2em;
}

section {
    width: 60%;
    margin: 0 auto 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}

#education h1 {
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

#education h2 {
    margin: 1rem 0;
    font-size: 1.5em;
    color: var(--secondary-text-color);
}

.education-card {
    background-color: var(--primary-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.education-logo {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    margin: 0 1.2em;
}

.education-info {
    flex: 1;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc8;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
    border-color: var(--button-hover-bg-color);
}

button {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    transform: translateY(-2px);
    transition: transform 0.3s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

button:focus, button:focus-visible {
    outline: 2px solid var(--button-hover-bg-color);
    outline-offset: 2px;
}

.burger {
    height: min-content;
    display: none;
    cursor: pointer;
    transition: transform 1s ease-out;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
    .navbar {
        transition: all 0.3s ease-out;
    }

    .navbar.smaller {
        height: auto;
        width: auto;
        position: fixed;
        margin-top: 0;
        top: 10px;
        left: auto;
        right: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    }

    .navbar.smaller .nav-links {
        display: none;
    }

    .navbar.smaller .burger {
        display: block;
        cursor: pointer;
        transition: all 0.3s ease-out;
        align-self: normal;
    }

    .burger.toggle {
        margin: calc(50% - 6.25px) 0;
    }

    .nav-links.nav-active {
        display: flex !important;
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 16px;
    }

    section {
        width: 90%;
    }

    .nav-active {
        transform: translateX(0);
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .education-card {
        flex-direction: column;
        text-align: center;
    }

    .education-logo {
        margin-bottom: 10px;
    }
}

.accent-text {
    color: var(--accent-color);
}

.accent-background {
    background-color: var(--accent-color-light);
}
